@{
    ViewBag.Title = "Hembrent";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hembrent är ett glatt företag med mycket intressanta vanor :)</p>
<p>Vi är ett glatt gäng till och med. :)</p>
<p>Och vi kan pusha in text på ett konstigt sätt med hjälp av git i vs</p>
