@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Puckogatan 72<br />
    780 54 Äppelbo<br />
    <abbr title="Phone">P:</abbr>
    072-3572841
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@hembrent.se">Support@hembrent.se</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@hembrent.se">Marketing@hembrent.se</a>
</address>